@font-face {
  font-family: "shopsharkfont";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/shopshark/shopsharkfont-webfont.eot");
  src: url("../fonts/shopshark/shopsharkfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/shopshark/shopsharkfont-webfont.woff") format("woff"), url("../fonts/shopshark/shopsharkfont-webfont.ttf") format("truetype"), url("../fonts/shopshark/shopsharkfont-webfont.svg#KytuFont") format("svg");
}
@font-face {
  font-family: "opensans-light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensanslight/opensans-light-webfont.eot");
  src: url("../fonts/opensanslight/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensanslight/opensans-light-webfont.woff") format("woff"), url("../fonts/opensanslight/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensanslight/opensans-light-webfont.svg#opensans") format("svg");
}
@font-face {
  font-family: "opensans-regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensansregular/opensans-regular-webfont.eot");
  src: url("../fonts/opensansregular/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensansregular/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensansregular/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensansregular/opensans-regular-webfont.svg#opensans-regular") format("svg");
}
html,
body,
div,
span,
embed,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
output,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
label,
main,
section,
article,
aside,
canvas,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  color: #000000;
  font-family: "opensans-regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}
main,
section,
article,
aside,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table,
caption,
tbody,
thead,
tfoot,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
}
textarea {
  font-family: inherit;
  overflow: auto;
  vertical-align: top;
  resize: none;
}
input,
select {
  vertical-align: middle;
}
select,
button {
  text-transform: none;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
b,
strong,
optgroup {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff0;
  color: #000;
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
a {
  color: #1a83c5;
  text-decoration: none;
}
a:visited {
  color: #1774ae;
}
a:hover {
  color: #064e7b;
}
a:active {
  color: #146598;
}
a:focus {
  outline: 0;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clearfix {
  clear: both;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.title {
  font-size: 20px;
  font-family: "opensans-light", Arial, sans-serif;
  padding-bottom: 10px;
}
.relative {
  position: relative;
}
noscript {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background: #ffffff;
  color: #000000;
  text-align: center;
}
.browsehappy {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #ffffff;
  color: #000000;
  text-align: center;
}
#container {
  margin: 0 auto;
  width: 980px;
}
#container > .inner {
  width: 100%;
  margin: 10px auto;
  clear: both;
}
#container > .inner:before,
#container > .inner:after {
  display: table;
  content: "";
}
#container > .inner:after {
  clear: both;
}
#header {
  width: 100%;
}
#header .logo {
  font-size: 30px;
}
#header nav {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  background: #f7f7f7;
  position: relative;
}
nav {
  clear: both;
}
nav:before,
nav:after {
  display: table;
  content: "";
}
nav:after {
  clear: both;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  padding: 0 10px;
}
#sidebar {
  float: left;
  padding: 10px;
  width: 220px;
  min-height: 500px;
  border: 1px solid #ddd;
  background: #f7f7f7;
}
#main {
  float: right;
  padding: 10px;
  width: 710px;
  min-height: 500px;
  background: #f7f7f7;
}
#footer {
  padding: 10px;
  border: 1px solid #ddd;
  background: #f7f7f7;
}
.not-found {
  min-height: 400px;
  padding: 20px;
  font-size: 20px;
}
.box-title {
  position: relative;
  display: block;
  margin: 20px 0 20px;
  border-bottom: 4px solid #1a83c5;
}
.box-title h1,
.box-title h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
  padding: 4px 10px 6px 0;
  color: #1a83c5;
  position: relative;
}
.box-title h1::before,
.box-title h2::before {
  position: absolute;
  width: 100%;
  height: 4px;
  content: " ";
  left: 0;
  bottom: -4px;
  background: #1a83c5;
}
.description .content {
  overflow: hidden;
}
@media only screen and (min-width: 560px) {
  .description .content {
    padding: 15px;
    border: 1px solid #1a83c5;
    overflow: hidden;
  }
}
.news .item {
  padding: 8px 0;
}
.news .item .img {
  width: 160px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
  transition: width .25s ease .1s;
}
.news .item .img img {
  border: none;
  width: 100%;
}
@media only screen and (min-width: 560px) {
  .news .item .img {
    width: 200px;
  }
}
.news .item .info .title {
  font-size: 16px;
  display: block;
  padding: 0 0 4px;
}
.news .item .info .view-more {
  display: block;
  text-align: right;
  font-size: 13px;
}
.list-phone {
  padding-left: 60px;
  position: relative;
}
.list-phone::before {
  content: "Q";
  font-family: "shopsharkfont";
  font-size: 60px;
  width: 30px;
  text-align: center;
  height: 40px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: 6px;
  margin-left: -10px;
  color: red;
}
.wfi-input-container {
  position: relative;
}
.wfi-input-container .dropdown-index {
  padding: 5px;
}
.wfi-input-container .dropdown-index label {
  display: block;
  padding: 5px 10px;
}
.wfi-input-container .dropdown-list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.wfi-input-container .dropdown-list .dropdown-option {
  border: 2px solid #e5e5e5;
  border-radius: 0 0 6px 6px;
  background-color: #FFFFFF;
}
.wfi-input-container .dropdown-list input {
  display: block;
  height: 100%;
  width: 100%;
}
.wfi-input-container .dropdown-list ul {
  max-height: 200px;
  overflow-y: auto;
}
.wfi-input-container .dropdown-list ul li {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}
@media only screen and (min-width: 560px) {
  .hide-xs {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .hide-sm {
    display: none;
  }
}
@media only screen and (min-width: 984px) {
  .hide-md {
    display: none;
  }
}
